<section class="features">
    <div class="feat-container">
    <% posts.forEach(post => { %>
        <article data-article="<%= post.Tags %>">
          <a href="/posts/<%= post._id %>">
            <div class="article-top">
              <img src="<%= post.image %>" alt="image of post" />
              <p><%= post.GastlesNR %></p>
            </div>

            <div class="article-bottom">
              <span class=""><%= post.Tags %></span>
              <span class="themes"><%= post.GastlesThema %></span>
              <h3><%= post.Gastnaam %></h3>
              <quote><%= post.Quote %></quote>
            </div>
          </a>
        </article>
        <% }); %>
    </div>

    <a class="contactButton" href="/">Alle blogs <div class="iconButton">
        <svg
          height="24"
          width="24"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
            fill="currentColor"
          ></path>
        </svg>
      </div></a>
</section>