<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <a href="/newpost"><i class='bx bxs-add-to-queue' ></i></a>

      <a href="/account">mijn account</a>
      <div class="toggle-switch">
				<input aria-labelledby="toggle-label"
				       class="toggle-checkbox"
				       id="darkModeToggle"
				       type="checkbox">
				<label class="toggle-label"
				       for="darkModeToggle"
				       id="toggle-label"
				       tabindex="0">
					<span class="visually-hidden">Toggle Dark Mode</span>
				</label>
			</div>
    </header>

    <main>
      <h1>Blog overview</h1>
      <section class="overview">
        <% posts.forEach(post => { %>
        <article data-article="<%= post.Tags %>">
          <a href="/posts/<%= post._id %>">
            <div class="article-top">
              <img src="<%= post.image %>" alt="image of post" />
              <p><%= post.GastlesNR %></p>
            </div>

            <div class="article-bottom">
              <span class=""><%= post.Tags %></span>
              <span class="themes"><%= post.GastlesThema %></span>
              <h3><%= post.Gastnaam %></h3>
              <quote><%= post.Quote %></quote>
            </div>
          </a>
        </article>
        <% }); %>
      </section>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <script src="/js/index.js"></script>
  </body>
</html>
