<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>

  <a href="/newpost">nieuwe post maken</a>
  
</header>

<main>
  <h1>Blog overview</h1>
  <ul>
      <% posts.forEach(post => { %>
          <li>
            <a href="/posts/<%= post._id %>">
              <h2><%= post.titleBlog %></h2>
              <p><strong>Author:</strong> <%= post.author %></p>
              <p><strong>Tags:</strong> <%= post.tags %></p>
              <p><%= post.content %></p>
            </a>
          </li>
      <% }); %>
  </ul>
</main>


<footer>
  <%- include('../partials/footer'); %>
</footer>

<script src="/js/index.js"></script>
</body>
</html>