<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title><%= post.titleBlog %></title>
  </head>
  <body>
    <main>
      <h1><%= post.titleBlog %></h1>
      <p><strong>Author:</strong> <%= post.author %></p>
      <p><strong>Tags:</strong> <%= post.tags %></p>
      <p><%= post.content %></p>
      <a href="/">Back to Overview</a>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
