<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title><%= post.titleBlog %></title>
</head>
<body>
    <main>
    <h1><%= post.titleBlog %></h1>
    <p><strong>Author:</strong> <%= post.author %></p>
    <p><strong>Tags:</strong> <%= post.tags %></p>
    <p><%= post.content %></p>
    <a href="/">Back to Overview</a>
</main>

    <footer>
        <%- include('../partials/footer'); %>
      </footer>
</body>
</html>
